venv/
__pycache__/
*.pyc
.DS_Store
.clineignore
desktop.ini
# Excluir archivos .bat
*.bat

# Secretos -- NUNCA subir esto a GitHub
.env

# Archivos generados por el proyecto (no son código fuente)
assets
salida/*.xlsx
logs/
log_ejecuciones.txt

# Archivos de PyInstaller (si se genera el ejecutable)
build/
dist/
*.spec
